.IconList {
  display: flex;
  flex-wrap: wrap;
  .GameIconDiv {
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 20px;
    cursor: pointer;
    border: 1px dashed #ccc;
    border-radius: 8px;
    .GameIcon {
      width: 50px;
      height: 50px;
      border-radius: 8px;
      margin: 20px 0 40px 0;
    }
    & > div {
      box-sizing: border-box;
      padding: 0 12px;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      text-align: center;
    }
  }

  .AddButton {
    width: 200px;
    height: 200px;
    border: 1px dashed #ccc;
    border-radius: 8px;
    color: #ccc;
    font-size: 100px;
    line-height: 120px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    position: relative;
    input[type='file'] {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      border-radius: 8px;
      z-index: 100;
      opacity: 0;
      cursor: pointer;
    }
  }
}
